html, body{
    height: 100%;
    width: 100%;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    color: white;

}

.profile{
    border-radius: 50%;
    width:  30%;
    border: 5px solid white;
}
@media (min-width:768px){
    .profile{
        border-radius: 50%;
        width:  20%;
        border: 5px solid white;
    
    }

}


.txt{
    font-size: 40px;
    font-style: inherit;
}

.link{
    text-decoration: white;
    color: white;
    font-size: 20px;

}

.link:hover{
    text-decoration: none;
    color: brown;
    font-size:  25px;
}

.space{
    padding-bottom: 25px;
}

.space-top{
    padding-top: 25px;
}
.space-margem{
    margin-bottom: 10px;
}